# This .gitignore file is a standard template for .NET projects.

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code cache
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vs/*

# Secrets and local settings files
# Used by Azure Functions and other local development tools
local.settings.json
secrets.json

# Rider/ReSharper specific files
.idea/
*.sln.iml
azure-storage/StorageApp/appsettings.Development.json
